/***    General     ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    margin: 0 auto;
  }
  
  .m-5-auto {
    margin: 5rem auto;
  }
  
  .primary-button {
    border-radius: 80px;
    margin-top: 5rem;
    margin-right: 1rem;
    padding: 0.6rem;
    width: 10rem;
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.5s;
    cursor: pointer;
    text-transform: capitalize;
  }
  
  /***    Landing Page     ***/
  .main-title,
  .main-para {
    color: #f1f1f1;
  }
  
  .main-title {
    padding-top: 10rem;
    font-size: 5rem;
    font-family: "Times New Roman", cursive;
    text-transform: uppercase;
  }
  
  .main-para {
    font-size: 2.5rem;
    text-transform: capitalize;
  }
  
  #reg_btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #reg_btn span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #reg_btn:hover span {
    padding-right: 25px;
  }
  
  #reg_btn:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  /***    Login Page     ***/
  h2 {
    font-weight: 300;
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
  
  form {
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0;
  }
  
  form label {
    float: left;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
  }
  
  .right-label {
    float: right;
    cursor: pointer;
  }
  
  input {
    width: 15rem;
    padding: 0.3rem;
    border-radius: 5px;
    outline: none;
    border: none;
  }
  
  #sub_btn {
    display: block;
    width: 100%;
    padding: 0.3rem;
    border: none;
    background: rgb(12, 0, 0);
    color: #fff;
    border-radius: 3px;
  }
  
  #sub_btn:hover {
    background: rgb(0, 3, 10);
    transition: all 0.5s;
  }
  
  footer p {
    margin: 0;
    font-size: 0.9rem;
    color: rgb(152, 38, 38);
  }
  
  form span {
    font-size: 0.8rem;
  }
  
  #reset_pass_lbl {
    float: left;
  }
  
  /***    Home Page     ***/
  .home-page-title {
    color: rgb(8, 0, 7);
  }
  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73ad21;
    padding: 10px;
  }
  .p{
    color: black;
  }
    /***    Login Page     ***/
    h2 {
      font-weight: 300;
      color: black;
      font-family: 'Courier New', Courier, monospace;
    }
    